<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dbryuzgin.myapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Scan"
            android:label="@string/title_activity_scan"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".Cart"
            android:label="@string/title_activity_cart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Operations"
            android:label="@string/title_activity_operations"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".successOrder"
            android:label="@string/title_activity_success_order"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmailSender"
            android:label="@string/title_activity_email_sender"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductAdding"
            android:label="@string/title_activity_scan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductRedactor"
            android:label="@string/title_activity_scan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Editor"
            android:label="@string/title_activity_product_redactor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductAdder"
            android:label="@string/title_activity_product_adding"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StatisticsTabbed"
            android:label="@string/title_activity_statistics_tabbed"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LowCountProductsActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".TopSaleActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".OrderCreation"
            android:label="@string/title_activity_order_creation"
            android:parentActivityName=".Operations"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CardPaymentActivity"
            android:label="payWave"
            android:parentActivityName=".Cart"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name=".DeliveryData"
            android:label="Данные для доставки"
            android:parentActivityName=".EmailSender"
            android:screenOrientation="portrait" />

        <activity
            android:name=".DeliveryDetails"
            android:label="Детали доставки"
            android:parentActivityName=".DeliveryList"
            android:screenOrientation="portrait" />

        <activity
            android:name=".DeliveryList"
            android:label="Доставка"
            android:parentActivityName=".Operations"
            android:screenOrientation="portrait" />
    </application>

</manifest>