<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dbryuzgin.myapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_register"/>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Scan"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_scan"/>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".Cart"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_cart"/>

        <activity
            android:name=".Operations"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_operations"/>

        <activity
            android:name=".successOrder"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_success_order"/>

        <activity
            android:name=".EmailSender"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_email_sender"/>

        <activity
            android:name=".ProductAdding"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_scan"/>

        <activity
            android:name=".ProductRedactor"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_scan"/>

        <activity
            android:name=".Editor"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_product_redactor"/>

        <activity
            android:name=".ProductAdder"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_product_adding"/>

        <activity
            android:name=".StatisticsTabbed"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_statistics_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".LowCountProductsActivity"
            android:theme="@style/AppTheme.CustomTheme" />

    </application>

</manifest>